@charset "UTF-8";
body {
  background-color: white;
}
/*Formatação de imagens */
.foto-legenda img {
  border: 8px solid white;
  box-shadow: 1px 1px 4px black;
}
#paragrafy {
  text-align: justify;
  text-indent: 50px;
}